﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
  
    @Styles.Render("~/Content/index.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
</head>
<body>
    <nav class="nav navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">@Html.ActionLink("Photo Learn", "Index", "Home")</p>
               
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Подборка статей", "AllArticles", "Default")
                        
                    </li>
                    <li>
                        @Html.ActionLink("Профиль", "Profile", "Default")
                    </li>
                    <li>
                        <a href="#Contacts">Контакты</a>
                    </li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Авторизация
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Вход", "Auth", "Auth")
                            </li>
                            <li>
                                @Html.ActionLink("Регистрация", "Registration", "Auth")
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
   
   
        @RenderBody()




        <hr />
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="copyright-text">
                        <p>CopyRight © 2017 Digital All Rights Reserved</p>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-sm-6">
                    <ul class="social-link pull-right">
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
        </div>
    </div>
   

    @RenderSection("scripts", required: false)
</body>
</html>
