﻿@{
    ViewBag.Title = "Home Page";
}

<div class="master-head">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"></div>
            <div class="intro-heading text-uppercase">Flinkr</div>
        </div>
    </div>
</div>

<section>
    <div class="latest-posts">
        <div class="container">
            <div class="row white-text">
                @foreach (var a in ViewBag.Articles)
                {
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3 class="pull-left">
                                                @a.head
                                              
                                            </h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="pull-right">
                                                <small>
                                                    <em>
                                                        @a.data
                                                       
                                                    </em>
                                                </small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                @if (a.image!=null)
                                {
                                    <a href="#" class="thumbnail">
                                        <img alt="Image" src="@a.image">
                                    </a>
                                }
                                @if (@a.body.Length > 200)
                                {
                                    @a.body.Substring(0, 200)
                                }
                                else
                                {
                                    @a.body
                                }

                                @Html.ActionLink("Read more", "Article", "Default", new { identity = @a.id_article }, null)
                            </div>

                            <div class="panel-footer">
                                <span class="label label-default">Welcome</span>
                                <span class="label label-default">Updates</span>
                                <span class="label label-default">July</span>
                            </div>
                        </div>
                    </div>
                }
              
                <div class="text-center">
                   
                    <p  id="loadmore" class="btn btn-primary">@Html.ActionLink("Older Posts...", "AllArticles", "Default", new { @class = "whitelink" })</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Contacts">
    <div class="label">
        <h2>Связаться с нами</h2>
    </div>
    <div class="contact-section">
        <div class="container">
            <form>
                <div class="row">

                    <div class="col-md-6 col-sm-12 col-6 form-line">
                        <div class="form-group">
                            <label for="exampleInputUsername">Your name</label>
                            <input type="text" class="form-control" id="" placeholder=" Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                        </div>
                        <div class="form-group">
                            <label for="telephone">Mobile No.</label>
                            <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 col-6">
                        <div class="form-group">
                            <label for="description"> Message</label>
                            <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                        </div>
                        <div>

                            <button type="button" class="btn btn-default submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</section>
