﻿<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-offset-4 col-sm-offset-4 col-lg-offset-4 col-xl-offset-4 col-md-5 col-sm-5 col-12 col-md-auto">

            <div class="form-login">
                <h4>Welcome back.</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                </br>
                <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-md">
                            login
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
