﻿<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-offset-5 col-sm-offset-5 col-lg-offset-5 col-xl-offset-5 col-md-5 col-sm-5 col-12 col-md-auto">

            <div class="form-login">
                <h4>Welcome)</h4>
                <input type="text" id="userMail" class="form-control input-sm chat-input" placeholder="email" />
                </br>
                <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <input type="text" id="userConfirmPassword" class="form-control input-sm chat-input" placeholder="confirm password" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-md">
                            Register
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
