﻿<section>
    <div class="container white-text" style=" background-color #525050;border-radius:5px;">

        @using (Html.BeginForm("AddAction", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p  class="form-horizontal">
                <fieldset>
                  
                    <!-- Form Name -->
                    <!-- Multiple Radios (inline) -->
                    <!-- div class="form-group">
                        <label class="col-md-4 control-label" for="radios"></label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="radios-0">
                                <input type="radio" name="radios" id="radios-0" value="1" checked="checked"> MR
                            </label>
                            <label class="radio-inline" for="radios-1">
                                <input type="radio" name="radios" id="radios-1" value="2"> MS
                            </label>
                            <label class="radio-inline" for="radios-2">
                                <input type="radio" name="radios" id="radios-2" value="3"> DR
                            </label>
                        </div>
                    </div -->
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">post-header</label>
                        <div class="col-md-4">
                             <input id="textinput" name="head" type="text" placeholder="head" class="form-control input-md">
                        </div>
                    



               
                    
                        <label class="col-md-4 control-label" for="filebutton">photo</label>
                        <div class="col-md-4">
                            <input id="filebutton" name="file" class="form-control input-md" placeholder="image ref" type="text">
                        </div>
                   



                    
                        <label class="col-md-4 control-label" for="textarea">post-text</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="textarea" name="body" placeholder="post-body"></textarea>
                        </div>
                   

          

                    <!-- Button -->
                        <br/>
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">submit</button>
                        </div>
                    </div>

                </fieldset>
            </p>
        }

    </div>
</section>

