﻿<section>
    <div class="latest-posts">
        <div class="container">
            <div class="row white-text">
               
                @foreach (var a in ViewBag.Articles)
                {
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3 class="pull-left">
                                                @a.head.Substring(0, 10);

                                            </h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="pull-right">
                                                <small>
                                                    <em>
                                                        @a.data

                                                    </em>
                                                </small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                @if (a.image != null)
                                {
                                    <a href="#" class="thumbnail">
                                        <img alt="Image" src="@a.image">
                                    </a>
                                }
                                @a.body
                                @Html.ActionLink("Read more", "Article", "Default",new { identity = @a.id_article },null)
                             
                              
                            </div>

                            <div class="panel-footer">
                                <span class="label label-default">Welcome</span>
                                <span class="label label-default">Updates</span>
                                <span class="label label-default">July</span>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-1"></div>
                <div class="col-md-3">
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</section>
