﻿<div class="container" style="margin-top:50px;">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="row hidden-md hidden-lg">
                    <h1 class="text-center">@ViewBag.Article.head</h1>
                </div>

                <div class="pull-left col-md-4 col-xs-12 thumb-contenido">
                    <img class="center-block img-responsive" src='@ViewBag.Article.image' />
                </div>
                <div class="">
                    <h1 class="hidden-xs hidden-sm">@ViewBag.Article.head</h1>
                    <hr>
                    <small>10 - 04 -2017</small>
                    <br>
                    <small>
                        @using (Html.BeginForm("FollowAction", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <strong>Author</strong>
                                                       
                            <input type="text" name="id" style="display:none;" value="@ViewBag.Article.id_article" />
                                                       
                            <input type="submit" name="type" class="btn btn-default" value="@ViewBag.Followed" />
                           
                            <div class="btn btn-default">@Html.ActionLink("Edit", "EditArticle", "Default", new { identity = @ViewBag.Article.id_article }, null)</div>

                            <input type="submit" name="type" class="btn btn-default" value="Delete" />
                           
                        }
                        <div class="panel-footer">
                            <span class="label label-default">Welcome</span>
                            <span class="label label-default">Updates</span>
                            <span class="label label-default">July</span>
                        </div>
                    </small>
                    <hr>
                    <p class="text-justify">
                        @ViewBag.Article.body
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
