﻿<section>
    <div class="container white-text" style=" background-color #525050;border-radius:5px;">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">name</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="name" class="form-control input-md">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">last name</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="last name" class="form-control input-md">

                    </div>
                </div>

                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="filebutton">photo</label>
                    <div class="col-md-4">
                        <input id="filebutton" name="filebutton" class="input-file" type="file">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">birthday</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="birthday" class="form-control input-md">

                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">contact email address</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="contact email address" class="form-control input-md">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">phone</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="phone" class="form-control input-md">

                    </div>
                </div>


                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textarea">Address</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="textarea" name="textarea">address</textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">website</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="website" class="form-control input-md">

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">submit</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</section>

