﻿<div class="main-container">

  


    <div class="container" style="margin-top:160px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                Bhaumik Patel
                            </h4>
                            <small>
                                <cite title="San Francisco, USA">
                                    San Francisco, USA
                                    <i class="glyphicon glyphicon-map-marker">
                                    </i>
                                </cite>
                            </small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                <br />
                                <i class="glyphicon glyphicon-globe"></i>
                                <a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                            </p>
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    Social
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Social</span>
                                </button>

                                <qt class="btn btn-primary" style="margin-left:20px; color:white;">@Html.ActionLink("Edit", "EditProfile", "Default")</qt>
                               
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Twitter</a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/jquery2dotnet">Facebook</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Github</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="label">
            <h2>Мои статьи</h2>
        </div>
        <div class="text-center" style="    margin-bottom: 40px;">
            @Html.ActionLink("Написать статью", "AddArticle", "Default")
           

        </div>
        <div class="latest-posts">
            <div class="container">
                <div class="row white-text">
                    <div class="col-md-1"></div>
                    <div class="col-md-12">
                        <div id="postlist">
                            
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <h3 class="pull-left">Post With image</h3>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4 class="pull-right">
                                                    <small>
                                                        <em>2014-07-30 18:30:00</em>
                                                    </small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <a href="#" class="thumbnail">
                                        <img alt="Image" src="http://i.imgur.com/tAHVmXi.jpg">
                                    </a>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation...
                                    <a href="#">Read more</a>
                                </div>

                                <div class="panel-footer">
                                    <span class="label label-default">Image</span>
                                    <span class="label label-default">Updates</span>
                                    <span class="label label-default">July</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </section>

